[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[commit]
	verbose = true
[alias]
	#############
	# Shortcuts #
	#############
	sw     = switch
	st     = status -sb
	please = push --force-with-lease
	d      = diff
	dc     = diff --cached

	#####################
	# Beautiful Outputs #
	#####################
	
	# Readable log with merge commits highlighted in a different color
	lg = ! git log --format=\"%C(auto)%h%Creset  %s%C(auto)%d%Creset  %Cblue@%an%Creset (%Cgreen%ad%Creset)\" --date=relative --color=always | head -n 20 | sed -E 's/([a-f0-9]{7}).*\\s(Merge branch '.+' into '.+')/\\1\\x1b[3m\\x1b[90m \\2\\x1b[0m/'
	# View branch graph
	hist = log --pretty=format:\"%C(auto)%h %s%d [%an]%Creset\" --graph
	# List last used branches
	ll   = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:bold yellow)%(refname:short)%(color:reset)  %(contents:subject)  %(color:blue)@%(authorname)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'
	# List changed files
	lc   = "!f() { base=${1:-$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')}; git diff --name-only ${base}..HEAD; }; f"
	# Organize commits, interactive rebase with base branch parameter (or auto-default to main/master/...)
	organize = "!f() { base=${1:-$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@')}; git rebase --autosquash -i $(git merge-base origin/$base HEAD); }; f"
	organized = !git rebase --autosquash -i $(git merge-base origin/develop HEAD)
	organizem = !git rebase --autosquash -i $(git merge-base origin/master HEAD)
	compare-commits = !bash -c 'diffuse <(git show ${1}) <(git show ${2})' -

[pull]
	ff = only
[http]
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	pager = less -S
	editor = nvim
[init]
	defaultBranch = master
	templatedir = /home/chris/.git_template

# [includeIf "gitdir:~/Dev/<custom>/"]
# 	path = ~/Dev/<custom>/.gitconfig

[credential]
	helper = store
	helper = cache

[rebase]
	stat = true
	abbreviateCommands = true

[gui]
	fontui = -family \"Source Code Pro\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Source Code Pro\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none
	tabsize = 4
