
! Font rendering
Xft.antialias:            true
Xft.hinting:              true
Xft.rgba:                 rgb
Xft.autohint:             false
Xft.hintstyle:            hintfull
Xft.lcdfilter:            lcddefault

Xcursor.size:          16
xterm*vt100*faceName:  Fantasque Sans Mono:pixelsize=15:antialias=true:autohint=false:rgba=rgb
xterm*termName:        xterm-256color
xterm*metaSendsEscape: true
XTerm*vt100.translations: #override \
    Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
    Shift Ctrl <Key> V: insert-selection(CLIPBOARD)

*internalBorder: 3

! #include ".Xresources_gruvbox"

! Gruvbox Medium Dark Colorscheme
*background: #282828
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #1d2021
*color8:  #665c54
! Red + LightRed
*color1:  #cc241d
*color9:  #fb4934
! Green + LightGreen
*color2:  #98971a
*color10: #b8bb26
! Yellow + LightYellow
*color3:  #d79921
*color11: #fabd2f
! Blue + LightBlue
*color4:  #458588
*color12: #83a598
! Magenta + LightMagenta
*color5:  #b16286
*color13: #d3869b
! Cyan + LightCyan
*color6:  #689d6a
*color14: #8ec07c
! White + LightWhite
*color7:  #a89984
*color15: #ebdbb2

*cursorColor: #fe8019

! XTerm
XTerm*background: #282828
XTerm*foreground: #ebdbb2
XTerm*cursorColor: #ebdbb2

